<div class="serviceRequestComponent">
  <ion-label>
    <p>
      <ion-item>
        <div class="serviceRequestDetail">
          <ion-label><u>Followup</u></ion-label>
          <p style="font-size: 17px; font-weight: 600; overflow-wrap: break-word;">#{{ followupId }}</p>
        </div>
      </ion-item>

      <ion-item>
        <div class="serviceRequestDetail">
          <ion-label><u>Date</u></ion-label>
          <p style="font-size: 17px; font-weight: 600; overflow-wrap: break-word;">01/07/2022 2:39PM</p>
        </div>
      </ion-item>

      <ion-item>
        <div class="serviceRequestDetail">
          <ion-label><u>Remarks</u></ion-label>
          <p style="font-size: 17px; font-weight: 600; overflow-wrap: break-word;">{{ followupRemarks }}</p>
        </div>
      </ion-item>
    </p>
  </ion-label>
</div>