ion-title {
    text-align: center;
}

.saveDiv {
    position: fixed;
    z-index: 99;
    bottom: 0;
    background-color: var(--ion-color-step-100);
    width: 100%;
    box-shadow: #121212 1px 1px 1px 1px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--ion-color-primary-shade);
    font-size: 1.6rem;
    font-weight: 600;
    transition: transform 0.15s ease-in-out;
    -webkit-transition: transform 0.15s ease-in-out;
    z-index: 100;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
}
button:hover {
    background-color: var(--ion-color-primary-tint);
}
button:active {
    transform: scale(120%);
    -webkit-transform: scale(120%);
}

div {
    background-color: var(--ion-color-light);
}

div.serviceRequestComponent {
    border-radius: 1rem;
    margin: 0.5rem;
    margin-bottom: 15px;
    box-shadow: #141b1b 1px 7px 10px 2px;
    padding: 10px;
    max-width: 355px;
    margin-left: auto;
    margin-right: auto;
}

@media (prefers-color-scheme: light) {
    div.serviceRequestComponent { box-shadow: #e5e5e5 1px 7px 10px 2px; }
    .saveDiv { background-color: var(--ion-color-medium-contrast); }
}

.serviceRequestId {
    --ion-item-background: #5260ff;
    font-weight: 700;
    font-family: menlo;
    border-radius: 20px;
    box-shadow: #2f40fa 2px -2px 7px 0px;
    color: white;
}

.serviceRequestDetail {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}
:nth-child(even) .serviceRequestDetail {
    background-color: var(--ion-step-100);
}

ion-item {
    max-width: 80%;
    margin-left: 5%;
}